.footer-wrapper {
  max-width: 1170px;
  margin: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-wrapper ul {
  list-style: none;
}

footer {
  padding-top: 70px;
  line-height: 1.5;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #808080;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  background-color: transparent;

}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d81f26;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #808080;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #808080;
  padding-left: 7px;
}

.footer-col .footer-icons {
  display: inline-block;
  font-size: 30px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  transition: all 0.4s ease;
}

.footer-col .footer-icons:hover {
  background-color: #808080;
  border-radius: 50%;
}

.footer-copyright {
  width: 25%;
  padding: 20px 15px;
  color: #808080;
}


/*RESPONSIVE*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}