/* Styly pro tooltip kontejner */
.tooltip-container {
  position: relative;
  display: inline-block;
}

/* Styly pro tooltip obsah */
.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 800px;
  padding: 10px;
  background-color: transparent;
}

/* Styly pro zobrazení tooltipu po onMouseOver */
.tooltip-container:hover .tooltip {
  display: block;
}

/* Styly pro obrázek ve tooltipu (pokud potřebujete) */
.tooltip img {
  max-width: 100%;
  height: auto;
}

.icon-code {
  font-size: 25px;
}